*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.commonTitle2{
    font-size: var(--titleFontSize_3);
    font-weight: var(--titleFontWeight_1);
    line-height: var(--TitleFontLineHeight_3);
    color: var(--paraFontColor_5);
}
.commonSmalTitle{
    font-size: var(--subTitleFontSize_1);
    font-weight: var(--subTitleFontWeight_1);
    line-height: var(--paraFontLineHeight_1);
    color: var(--paraFontColor_6);
}
.commonPara{
    font-size: var(--paraFontSize_1);
    font-weight: var(--paraFontWeight_1);
    line-height: var(--paraFontLineHeight_1);
    color: var(--paraFontColor);
}
.commonBtn{
    font-size: var(--subTitleFontSize_1);
    font-weight: var(--titleFontWeight_1);
    line-height: var(--paraFontLineHeight_1);
    color: var(--paraFontColor_4);
    text-transform: capitalize;
    border: 2px solid var(--bgColor_9);
    border-radius: 41px;
    padding: 16px 48px;
    transition: all linear 0.3s;
}
.commonBtn:hover{
    background-color: var(--bgColor_8);
    color: var(--primaryFontColor);
}
// ==================== FBanner Started Here =================================
#fBanner{
    padding: 220px 0  128PX 0;
    background-color: var(--bgColor_7);
    .bTitle{
        font-size: var(--titleFontSize_1);
        font-weight: var(--titleFontWeight_1);
        line-height: var(--TitleFontLineHeight_2);
        color: var(--bgColor_5);
    }
    .commonPara{
        color: var(--paraFontColor_4);
        margin: 32px 0;
    }
}
// ==================== Benefits  Started Here =================================
#benefits{
    padding: 86px 0;
    .beTitle{
        padding-top: 120px;
    }
}
// ==================== Best in Class Started Here =================================
#bIC{
    .commonSmalTitle{
        margin-top: 41px;
    }
    .commonTitle2{
        margin: 16px 0;
    }
    .commonPara{
        padding-right: 50px;
    }
}
// ==================== Free Revisions Started Here =================================
#revisions{
    margin-top: 128px;
    padding: 128px 0;
    background-color: var(--bgColor_10);
    .commonSmalTitle{
        margin-top: 41px;
    }
    .commonTitle2{
        margin: 16px 0;
    }
    .commonPara{
        padding-right: 50px;
    }
}
// ==================== Support Started Here =================================
#support{
    padding: 128px 0;
    background-color: var(--bgColor_11);
    .commonSmalTitle{
        margin-top: 41px;
    }
    .commonTitle2{
        margin: 16px 0;
    }
    .commonPara{
        padding-right: 50px;
    }
}
// ==================== Support Started Here =================================
#delivery{
    padding: 128px 0;
    background-color: var(--bgColor_12);
    .commonSmalTitle{
        margin-top: 41px;
    }
    .commonTitle2{
        margin: 16px 0;
    }
    .commonPara{
        padding-right: 50px;
    }
}
// ==================== Questions Started Here =================================
#questions{
}
.accordion-button {
    gap: 10px;
}